<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <variable name="logDirectory" value="./log/${date:format=yyyy-MM-dd}/${level:uppercase=true}/logs.log"/>
    <variable name="myLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss} ${callsite} ${message}. ${exception:format=ToString}"/>

    <targets>
      <target name="fillLog"  xsi:type="File"  fileName="${logDirectory}" layout="${myLayout}"  />
      <target name="consolLog"  xsi:type="Console"  layout="${myLayout}"  />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="fillLog" />
      <logger name="*" minlevel="Warn" writeTo="consolLog" />
    </rules>
  </nlog>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Port" value="8085"/>

    <add key="MongoHost" value="localhost:27017" />
    <add key="MongoPort" value="27017" />
    <add key="MongoTagsType" value="2" />

  </appSettings>

  <connectionStrings>
    <add name="MasterDB" connectionString="Server=localhost; Database=rummicube; Uid=root; Pwd=111111; CharSet=utf8;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>